################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/Temp
/obj
/Logs
/.vs/PBD-Fluid-in-Unity/v16/TestStore/0
.idea/
*.csproj
UserSettings/